body .blob-code{color:#dadada !important}
body .type-html .pl-smi{color:#dadada}
body .type-html .pl-ent{color:#569cd6}
body .type-html .pl-c1{color:#9cdcfe}
body .type-html .pl-kos{color:#424242}
body .type-html .pl-s{color:#ce8349}
body .type-javascript .pl-k{color:#2c7ad6}
body .type-javascript .pl-en{color:#dcdcaa}
body .type-javascript .pl-s{color:#ce8349}
/* body .type-javascript .pl-s1{color:#dadada} */
body .type-javascript .pl-kos{color:#dadada}
body .type-javascript .pl-smi{color:#4ec9b0}
body .type-css .pl-c1{color:#9cdcfe}
body .type-css .pl-pds,
body .type-css .pl-kos{color:#ce8349}
body .type-css .pl-ent{color:#569cd6}
body .type-css .pl-smi{color:#dadada}
body .type-scss .pl-e{color:#ce8349}
body .type-scss .pl-c1,
body .type-scss .pl-k{color:#9cdcfe}
body .type-scss .pl-ent{color:#2c7ad6}
body .pl-c{color:#6a9955 !important}
body .gist-file{background-color:white;border-color:white}
body .gist-data{background-color:#1E1E1E;border-color:black}
body .gist-meta a{color:#696969;text-decoration:none;transition:0.2s ease-in color}
body .gist-meta a:hover{color:black}
body .Box-body .highlight{background-color:#1E1E1E}
body .Box-body .highlight .blob-num{color:#b9b9b9ab;border-right:2px solid #b9b9b97e}
body .gist .gist-file{background-color:black !important;border-color:black !important}
body .gist .gist-file .gist-meta{background-color:#151515;color:#929292}
body .gist .gist-file .gist-meta a{color:#c9c9c9}
body .gist .gist-file .gist-meta a:hover{color:white}
body * .pl-s1{color:#dadada}
